<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/app.css">
    </head>

    <body>
        <div id="navbar" class="ui inverted segment">
            <div class="ui container inverted secondary menu">
                <div class="header item"><i id="logo" class="fas fa-comments icon"></i> Blog</div>
                <a href="/" class="item">Bejegyzések</a>
                <a href="/blogs/new" class="item">Új bejegyzés</a>
		<a target="_blank" rel="noopener noreferrer" href="https://github.com/boros2222/web_blog" class="item">Forráskód</a>
            </div>
        </div>
        
