<% include partials/header %>

<div class="ui main text container">
    <div class="ui huge header">Új bejegyzés</div>

    <form class="ui form segment" action="/blogs" method="POST">
        <div class="field">
            <label>Cím</label>
            <input type="text" name="blog[title]" placeholder="cím" required>
        </div>
        <div class="field">
            <label>Kép</label>
            <input type="text" name="blog[image]" placeholder="kép url">
        </div>
        <div class="field">
            <label>Tartalom</label>
            <textarea name="blog[body]" required></textarea>
        </div>
        <input class="ui inverted button blue" type="submit">
    </form>

</div>

<% include partials/footer %>